@media screen and (min-device-width: 1200px){
  /* Segura todo conteúdo e padrões*/
  main{
    min-height: 1400px;
    height: auto;
    width: 1200px;
    background-color: #000 ;
    margin: auto;
  }

  body{
    background-image: url('../imagens/background_site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #000; */
  }
  /*---------- Slider ----------*/

  /*---------- Ambiente ----------*/
  .linha_invisivel{
    height: 0.5px;
    width: 100%;
  }
  .suporte_titulos{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000;
    border:2px solid #db9c1e;
  }

  .titulos{
    line-height: 28px;
    height:28px;
    font-size: 24px;
    width: auto;
    color: #db9c1e;
    text-align: center;
  }

  /*--------------- Eventos ----------*/
  .suporte_eventos{
    width: 100%;
    min-height: 1000px;
    height: auto;
  }

  .suporte_fotos{
    width: 32%;
    height: 480px;
    background-color: #FFF;
    margin: 8px;
    float: left;
  }

  .imagem_eventos{
    width: 100%;
    height: 100%;
  }

  .imagem_eventos:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  .conteudo_eventos{
    min-height: 1000px;
    height: auto;
    width: 100%;
  }
}@media screen and (max-device-width: 520px){
  textarea{
    text-decoration: none;
    resize: none;
    margin-top: 10px;
    columns: 30;
  }
  main{
    min-height: 1400px;
    height: auto;
    width: 100%;
    background-color: #000 ;
    margin: auto;
  }

  body{
    background-image: url('../imagens/background_site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #000; */
  }
  /*---------- Slider ----------*/

  /*---------- Ambiente ----------*/
  .linha_invisivel{
    height: 0.5px;
    width: 100%;
  }
  .suporte_titulos{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000;
    border:2px solid #db9c1e;
  }

  .titulos{
    line-height: 28px;
    height:24px;
    font-size: 24px;
    width: 100%;
    color: #db9c1e;
    margin: auto;
    text-align: center;
  }
  /*--------------- Eventos ----------*/
  .suporte_eventos{
    width: 100%;
    min-height: 1000px;
    height: auto;
  }

  .suporte_fotos{
    width: 100%;
    height: 480px;
    background-color: #FFF;
    margin: 8px;
    /* float: left; */
  }

  .imagem_eventos{
    width: 100%;
    height: 100%;
  }

  .conteudo_eventos{
    min-height: 1000px;
    height: auto;
    width: 100%;
    background-color: #db9c1e;
    margin:10px auto;
    border-radius: 2%;
    border: 6px solid #FFFFFF;
    float: left;
  }
}
